.ant-tree,
.ant-tree-switcher,
.ant-tree-show-line .ant-tree-switcher {
  background: transparent !important;
}

.ant-tree-checkbox {
  margin-right: 4px !important;
}
.ant-tree .ant-tree-node-content-wrapper {
  padding-left: 2px !important;
}
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: rgba(var(--primary-6), 0.15) !important;
}
body[arco-theme='dark'] .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: rgba(var(--primary-6), 0.5) !important;
}
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: var(--color-fill-2);
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: rgb(var(--primary-6));
  border-color: rgb(var(--primary-6));
}

.ant-tree,
.ant-checkbox-wrapper {
  color: var(--color-text-1);
}

.ant-checkbox-disabled + span {
  color: var(--color-text-4);
}

.ant-tree-show-line .ant-tree-indent-unit::before {
  border-right: 1px solid var(--color-neutral-3);
}
.ant-tree-switcher-leaf-line::after {
  border-bottom: 1px solid var(--color-neutral-3);
}
.ant-tree-switcher-leaf-line::before {
  border-right: 1px solid var(--color-neutral-3);
}

.ant-tree-switcher_open .ant-tree-switcher-icon.iconfont.Arrow:before {
  content: '\e740';
  font-size: 20px;
}
.ant-tree-switcher_close .ant-tree-switcher-icon.iconfont.Arrow:before {
  content: '\e742';
  font-size: 18px;
}

.ant-tree-switcher_close .ant-tree-switcher-icon {
  color: rgba(0, 0, 0, 0.4);
  height: 24px;
  width: 24px;
  display: inline-block;
}
.ant-tree-treenode {
  min-height: 30px;
}

.ant-tree-treenode:hover .ant-tree-switcher_close .ant-tree-switcher-icon {
  color: rgba(0, 0, 0, 0.6);
}
.ant-tree-switcher_open .ant-tree-switcher-icon {
  color: rgba(0, 0, 0, 0.6);
  height: 24px;
  width: 24px;
  display: inline-block;
}

/*tree*/
.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: rgb(var(--primary-6));
}

.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
  border-color: rgb(var(--primary-6));
}
.ant-tree-checkbox-checked::after {
  border: 1px solid rgb(var(--primary-6));
}
.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: rgb(var(--primary-6));
  border-color: rgb(var(--primary-6));
}
.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
  background-color: rgb(var(--primary-6));
}
.ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-treenode.dragging::after {
  border: 1px solid rgb(var(--primary-6));
}
.ant-tree-switcher-loading-icon {
  color: rgb(var(--primary-6));
}
.ant-tree-node-content-wrapper .ant-tree-drop-indicator {
  background-color: rgb(var(--primary-6));
}
.ant-tree-node-content-wrapper .ant-tree-drop-indicator::after {
  border: 2px solid rgb(var(--primary-6));
}
.ant-tree .ant-tree-treenode.drop-container > [draggable] {
  box-shadow: 0 0 0 2px rgb(var(--primary-6));
}

body[arco-theme='dark'] .ant-tree-switcher_close .ant-tree-switcher-icon {
  color: rgba(255, 255, 255, 0.4);
}

body[arco-theme='dark'] .ant-tree-treenode:hover .ant-tree-switcher_close .ant-tree-switcher-icon {
  color: rgba(255, 255, 255, 0.6);
}

body[arco-theme='dark'] .ant-tree-switcher_open .ant-tree-switcher-icon {
  color: rgba(255, 255, 255, 0.6);
}

.ant-tree-list-scrollbar[style] {
  width: 10px !important;
}
.ant-tree-list-scrollbar-thumb[style],
body[arco-theme='dark'] .ant-tree-list-scrollbar-thumb[style] {
  background: rgb(201, 201, 202) !important;
}
.ant-tree-list-scrollbar-thumb:hover[style],
body[arco-theme='dark'] .ant-tree-list-scrollbar-thumb:hover[style] {
  background: rgb(162, 162, 163) !important;
}

.ant-tree-checkbox-inner::after,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner::after,
.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
  transition: none !important;
}

.ant-tree-title {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
  flex-shrink: 0;
}

/*checkbox*/
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: rgb(var(--primary-6));
}
.ant-checkbox-checked::after {
  border: 1px solid rgb(var(--primary-6));
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(var(--primary-6));
  border-color: rgb(var(--primary-6));
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: rgb(var(--primary-6));
}

.ant-checkbox-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
}

/*tooltip*/
.ant-tooltip .ant-tooltip-inner {
  padding: 2px 4px !important;
  min-height: 24px !important;
  font-size: 12px;
}

.ant-tabs {
  color: var(--color-text-2);
}
