.fileitem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  border: 1px dotted transparent;
  border-radius: 2px;
  border-bottom: 1px solid #e5e8ed99;
  margin-right: 2px;
}
body[arco-theme='dark'] .fileitem {
  border-bottom: 1px solid #e5e8ed22;
}
.fileitem.grid {
  width: 200px;
}

.fileitem:hover {
  background-color: var(--listhoverbg);
}
.fileitem.focus,
.griditem.focus {
  border: rgba(var(--primary-6), 0.6) dotted 1px;
}
body[arco-theme='dark'] .fileitem.focus {
  border: rgba(var(--primary-6), 0.9) dotted 1px;
  border-bottom: rgba(var(--primary-6), 0.9) dotted 1px;
}
.fileitem.selected {
  background-color: var(--listselectbg);
}

.fileicon {
  width: 26px;
  padding-right: 4px;
}
.fileicon i {
  color: var(--color-neutral-7);
  font-size: 22px;
  position: relative;
}
.fileicon .iconfile-folder {
  color: #ffb74d !important;
}

.iconfile_video,
.iconfile-video,
.iconfile-mkv,
.iconfile-avi,
.iconfile-flv,
.iconfile-mp4,
.iconfile-mov,
.iconfile-asf,
.iconfile-wmv,
.iconfile-ts,
.iconfile-rmvb {
  color: #3482f0 !important;
}
.iconfile-audio,
.iconfile-flac,
.iconfile-ape,
.iconfile-wav,
.iconfile-cue,
.iconfile-ogg,
.iconfile-mp3 {
  color: #565bf5 !important;
}
.iconfile-image {
  color: #b6aea0 !important;
}
.iconfile-img,
.iconfile-ai,
.iconfile-bmp,
.iconfile-eps,
.iconfile-gif,
.iconfile-png,
.iconfile-jpg,
.iconfile-psd,
.iconfile-svg,
.iconfile-tif {
  color: #fa8d11 !important;
}

.iconfile_txt2,
.iconfile-txt,
.iconfile-pdf,
.iconfile-wps {
  color: #8bc755 !important;
}

.iconfile-doc {
  color: #282698 !important;
}
.iconfile-xsl {
  color: #269840 !important;
}
.iconfile-ppt {
  color: #d84a25 !important;
}

.iconfile-rar,
.iconfile-zip,
.iconfile-tar {
  color: #7c5bf3 !important;
}

.iconweifa {
  color: #d81e06 !important;
}
.ant-layout-content .iconweixiang {
  color: #d81e06 !important;
}

.iconnoshareaf::after {
  display: inline-block;
  width: 22px;
  height: 16px;
  content: '\e670';
  position: absolute;
  left: 0px;
  top: 2px;
  color: #d81e06 !important;
  font-size: 12px;
  text-align: center;
}

.fileicon .iconwenjian,
.iconfile-apk,
.iconfile-exe,
.iconfile-xci,
.iconfile-nsp,
.iconfile-bin,
.iconfile-dmg,
.iconfile-vmdk,
.iconfile-iso,
.iconfile-gho,
.iconfile-mds,
.iconfile-vhd,
.iconfile-god,
.iconfile-7z,
.iconfile-swf,
.iconfile-ssa,
.iconfile-ass,
.iconfile-srt,
.iconfile-stl,
.iconfile-scc,
.iconfile-html,
.iconfile-bt {
  color: #999999 !important;
}

.filename {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  max-height: 36px;
  min-width: 240px;
  overflow: hidden;
  color: var(--color-text-1);
  font-size: 14px;
}
.filename > div {
  display: -webkit-box;
  width: fit-content;
  min-width: 50px;
  max-height: 36px;
  overflow: hidden;
  line-height: 18px;
  letter-spacing: 0.4px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.filename > div {
  cursor: pointer;
}
.filename > div:hover {
  color: rgb(var(--primary-6));
}
.filebtn {
  flex-grow: 0;
  flex-shrink: 0;
}
.filetime,
.filesize {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-text-3);
  word-wrap: break-word;
  word-break: keep-all;
}
.filesize {
  width: 78px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
.filesize > span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}
.filetime {
  width: 80px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.filesizetime {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-text-3);
  width: 120px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}
.filesizetime .fsize {
  font-size: 14px;
  padding-bottom: 6px;
}

.preimgp .ant-tooltip-inner {
  padding: 2px !important;
  background: transparent !important;
  box-shadow: none !important;
}
.preimg {
  display: table-cell;
  max-width: 240px;
  max-height: 220px;
  min-width: 100px;
  min-height: 100px;
}
.preimg img {
  display: block;
  min-width: 50%;
  max-width: 240px;
  max-height: 220px;
  width: auto;
  height: auto;
  margin: auto;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 5px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  background: #ffffff;
}
.ca760ef {
  color: #a760ef;
}
.cdf5659 {
  color: #df5659;
}
.c9c27b0 {
  color: #9c27b0;
}
.c3f51b5 {
  color: #3f51b5;
}
.c42a5f5 {
  color: #42a5f5;
}
.c00bc99 {
  color: #00bc99;
}
.c4caf50 {
  color: #8bc755;
}
.cff9800 {
  color: #ff9800;
}
.cff5722 {
  color: #ff5722;
}
.c5b89b8 {
  color: #5b89b8;
}
.cvideo {
  color: #5b89b8;
}

.griditemparent {
  padding: 6px 12px;
}

.gridrow {
  display: grid;
  justify-content: space-between;
  align-content: flex-start;
  padding: 4px 3px 16px 3px;
  overflow: hidden;
}

.griditem.image {
  width: 150px;
  height: 180px;
  flex-shrink: 0;
  flex-grow: 0;
}
.griditem.bigimage {
  width: 200px;
  height: 240px;
  flex-shrink: 0;
  flex-grow: 0;
}

.griditem {
  border-radius: 8px;
  position: relative;
  height: 100%;
  border: 1px dotted transparent;
  border-bottom: 1px solid #e5e8ed99;
}
body[arco-theme='dark'] .griditem {
  border-bottom: 1px solid #e5e8ed22;
}

.griditem:hover {
  background-color: var(--listhoverbg);
}
.griditem.selected {
  background-color: var(--listselectbg);
}
.griditem .select {
  left: 5px;
  position: absolute;
  top: 4px;
  color: #bcb3b366 !important;
  background: #ffffffcc;
}
.griditem .select:hover {
  background: #fff !important;
  color: #637dff !important;
  border-radius: 8px;
}
body[arco-theme='dark'] .griditem .select:hover {
  background: rgba(155, 155, 155, 0.2) !important;
}

.griditem.selected .select i {
  color: #637dff !important;
}

.griditem .select,
.griditem .select > button {
  width: 24px !important;
  min-width: 24px !important;
  height: 24px !important;
  min-height: 24px !important;
  padding: 0px !important;
  font-size: 14px;
  line-height: 24px !important;
  border: none !important;
}
.griditem .select .iconfont {
  line-height: 24px !important;
}

.griditem .label {
  display: inline-block;
  right: 8px;
  position: absolute;
  top: 4px;
}
.gridicon {
  left: 6px;
  right: 6px;
  top: 10px;
  position: absolute;
  text-align: center;
  height: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.gridicon i {
  font-size: 56px;
  opacity: 0.75;
}
.gridicon .iconfile-folder {
  color: #ffb74d !important;
}

.gridicon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  position: relative;
  border: 1px solid rgba(132, 133, 141, 0.16);
}
.gridicon .playicon {
  cursor: pointer;
  font-size: 20px;
  height: 28px;
  width: 28px;
  background: rgba(37, 38, 43, 0.36);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  color: rgb(255, 255, 255);
}
.gridicon .playicon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  overflow: hidden;
}

.gridname {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  margin-bottom: 2px;
  color: var(--color-text-1);
  padding: 0 8px;
  position: absolute;
  bottom: 26px;
}
.gridname > div {
  cursor: pointer;
  text-align: center;
  word-break: break-all;
}
.gridname > div:hover {
  color: #3482f0;
}

.gridinfo {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--color-text-3);
  position: absolute;
  bottom: 10px;
}

.griditem .rangselect {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.griditem .rangselect.rang {
  background: rgba(25, 118, 210, 0.1);
  border: 1px dashed #637dff;

  margin: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
}
.griditem .rangselect.rangstart {
  background: rgba(99, 125, 255, 0.1);
  border: 1px dashed #637dff;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
}
.griditem .rangselect.rangend {
  background: rgba(99, 125, 255, 0.1);
  border: 1px dashed #637dff;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
}

.rangselect {
  height: 49px;
  margin: 2px 2px 2px 1px;
  padding-top: 7px;
  border: 1px dashed transparent;
}
.rangselect.rang {
  background: rgba(25, 118, 210, 0.1);
  border-right: 1px dashed #637dff;
  border-left: 1px dashed #637dff;
}
.fileitem .rangselect.rangstart {
  height: 42px !important;
  margin-top: 9px !important;
  padding-top: 0px !important;
  background: rgba(99, 125, 255, 0.1);

  border-top: 1px dashed #637dff;
  border-right: 1px dashed #637dff;
  border-left: 1px dashed #637dff;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}
.fileitem .rangselect.rangend {
  height: 42px !important;

  margin-bottom: 9px !important;
  background: rgba(99, 125, 255, 0.1);
  border-right: 1px dashed #637dff;

  border-bottom: 1px dashed #637dff;
  border-left: 1px dashed #637dff;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.rangselect.rang,
.rangselect.rangstart,
.rangselect.rangend {
  background: transparent;
}
.rangselect.rang i,
.rangselect.rangstart i,
.rangselect.rangend i {
  color: #637dff;
}

.toppanarea .qujian {
  height: 28px !important;
  min-height: 28px !important;
  padding: 0px 6px !important;
  color: #637dff !important;
  font-size: 14px;
  line-height: 28px !important;
  border: none !important;
}
.toppanarea .qujian:hover {
  background: rgba(99, 125, 255, 0.1) !important;
}
.toppanarea .qujian.arco-btn-status-danger {
  color: #ffffff !important;
  background: #ff4d4f !important;
}
.toppanarea .qujian.arco-btn-status-danger:hover {
  color: #ffffff !important;
  background: #ff4d4f !important;
}

.dragrowitem {
  padding: 10px 8px 10px 2px;
  color: rgba(255, 255, 255);
  border: 1px solid rgba(99, 125, 255, 0.8);
  outline-offset: -1px;
  background-color: rgb(187, 197, 248);
  min-width: 260px;
  max-width: 300px;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  word-break: keep-all !important;
  border-radius: 4px;
  position: fixed;
}

.dragrowitem > a {
  margin: 0 8px;
  color: #637dff;
  font-weight: bold;
}

.dark .dragrowitem {
  color: rgba(0, 0, 0);
  background-color: rgb(214, 219, 247);
}
